.stroke {
    -webkit-text-stroke-width: 1px;
    -moz-text-stroke-width: 1px;
    -webkit-text-stroke-color: #111827;
    -moz-text-stroke-color: #111827;
    color: transparent;
    text-align: center;
    margin: 1vw;
}

.shadow {
    text-shadow: 6px 6px #db2777;
}

.stroke-shadow {
    color: #fef3c7;
    text-shadow: -2px 0 #111827, 0 -2px #111827, 2px 0 #111827, 0 2px #111827, 2px 2px #111827, -2px -2px #111827, -2px 2px #111827, 2px -2px #111827, 6px 6px #db2777;
}

.About {
    background-color: #fef3c7;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 2vw;
    width: 90%;
    left: 5%;
    height: 75vh;
    position: relative;
    align-content: center;
    align-items: center;
    justify-items: center;
    border-width: 0.5vw;
	border-style: solid;
	border-color: #1a1ac5;
    height: 80vh;
}

.About p {
    margin: auto;
    font-size: 8vw;
    font-weight: bold;
    letter-spacing: 5px;
    text-align: center;
}

.About .grid {
    display: grid;
    grid-gap: 5vw;
    grid-template-columns: 1fr;
}

@media screen and (min-width: 768px) {
    .About .grid {
        grid-template-columns: 1fr 1fr;
    }
}

.Grid {
    display: grid;
}

.About-img {
    height: 50vmin;
    max-height: 100%;
    max-width: 100%;    
}