.ProductList {
    margin-top: 2.5rem;
    padding: 0 4rem;
}

@media (min-width: 590px) {
    .ProductList {
        grid-template-columns: 1fr;
        display: grid;
        place-content: center;
        gap: 1rem;
    }    
}


@media (min-width: 768px) {
    .ProductList {
        grid-template-columns: 1fr 1fr;
        display: grid;
        place-content: center;
        gap: 1rem;
    }    
}


@media (min-width: 1024px) {
    .ProductList {
        grid-template-columns: 1fr 1fr 1fr;
        display: grid;
        place-content: center;
        gap: 1rem;
    }    
}

@media (min-width: 1280px) {
    .ProductList {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        display: grid;
        place-content: center;
        gap: 1rem;
    }    
}